.input{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    height: 56px;
    padding-left: 25px;
    margin-bottom: 10%;
}