.status{
    color: white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

.text{
    color: white;
     margin: 0px;
      font-size: 15px;
       font-family: 'Roboto';
        font-weight: 500; 
}