.containerTesk{
    border: 1px solid gray;
    width: 70vw;
    padding: 5px;
}

.bottomTask{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
}

.topTask{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
}

.description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 27px;
    line-height: 32px;
    color: #3E3E3E ;
}